.container {
  max-height: 100%;
}

.section{
    display: flex;
    flex-direction: row;
}

.mapWrapper{
    width: 100%;
}
@media screen and (max-width: 768px) {

  .container {
    max-height: 100%;
  }

    .sidebar{
      width: 100vw;
    }
    .section{
    flex-direction: column-reverse;
  }
  .mapWrapper{
    width: 100%;
    height: 90vh;
}

  
  }


