h1{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 2em;
    
}

.NavBar{
    background-color: black;
    color: white;
    width: 100%;
}

a:hover{
    color:white;
}