.homeDiv{
    background-image: url("~/public/images/Public\ Art\ Walk.png");
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .homeDiv h1{
    color:white;
    line-height: 100%;
    font-size: 200px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;    text-align: center;
    letter-spacing: -12px;
  }
  
  .homeDiv button{
    color:white;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid white;
    padding: 6px 12px;
  }


  @media screen and (max-width: 768px) {


    .homeDiv h1{
        color:white;
        line-height: 100%;
        font-size: 80px;
        text-align: center;
        letter-spacing: -4px;
      }
    
  }